[submodule "sign-validation"]
	path = sign-validation
	url = ../fts-sign-validation.git
[submodule "GUI-sign"]
	path = GUI-sign
	url = ../fts-gui-sign.git
[submodule "esealing"]
	path = esealing
	url = ../fts-esealing.git
[submodule "mintest"]
	path = mintest
	url = ../fts-mintest
